* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
}
.myLink {
  text-transform: uppercase;
  font-weight: 600;
  color: $blue-color;
  font-size: 30px;
}
.myLink:hover {
  text-decoration: none;
  color: $blue-color;
  cursor: pointer;
}
