.view-wrapper {
  border: 2px solid $border-color;
  .header {
    background: $grey-color;
    height: 80px;
    padding-left: 20px;
    padding-top: 35px;
    border-bottom: 2px solid $border-color;
    font-weight: 700;
  }
  .body {
    padding: 25px;
  }
  .left {
    font-weight: 500;
  }
  .right {
    font-weight: 600;
  }
  .footer {
    height: 140px;
    border-top: 2px solid $border-color;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
